<!DOCTYPE html>
<html>

<head>
    <title>Webcam Stream</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body class="d-flex flex-column">

    <header class="bg-dark text-white py-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-auto">
                    <img src="{{ url_for('static', filename='rsu_icon.png') }}" style="max-width: 70px;"
                        class="header-icon" alt="RSU Manager">
                </div>
                <div class="col">
                    <h1>RSU Manager</h1>
                </div>
                <div class="col-auto">
                    <button id="stop" class="btn btn-light">Esci</button>
                </div>
            </div>
        </div>
    </header>

    <!-- Contenuto principale della pagina -->
    <div class="container flex-grow-1" style="margin-top: 30px;">

        <div class="row">
            <div class="col-lg-6">
                <h3 class="mt-4 text-center">Webcam Stream</h3>
                <img id="video" class="img-fluid" src="{{ url_for('video_feed') }}">
            </div>

            <div class="col-lg-6">
                <!-- Stato RSU-->
                <h3 class="mt-4 text-center"">Stato</h3>
                <div class=" column" id="status-fields" style="background-color: lightcyan;">
                    <div class="row justify-content-center align-items-center">
                        <div class="status-field mx-2 my-2 text-center">
                            <h5>Veicoli connessi</h5>
                            <div id="speed" class="h5">0</div>
                        </div>
                        <div class="status-field mx-2 my-2 text-center">
                            <h5>Velocita massima</h5>
                            <div id="steer_side" class="h5">CENTER</div>
                        </div>
                        <div class="status-field mx-2 my-2 text-center">
                            <h5>Distanza anteriore</h5>
                            <div id="distance-value" class="h5">0</div>
                        </div>
                        <div class="row justify-content-center align-items-center">
                            <div class="status-field mx-2 my-2 text-center">
                                <h5>In movimento</h5>
                                <div id="moving" class="h5">0</div>
                            </div>
                            <div class="status-field mx-2 my-2 text-center">
                                <h5>In frenata</h5>
                                <div id="braking" class="h5">0</div>
                            </div>
                            <div class="status-field mx-2 my-2 text-center">
                                <h5>Fermo</h5>
                                <div id="stopped" class="h5">0</div>
                            </div>
                            <div class="status-field mx-2 my-2 text-center">
                                <h5>Sulla Traccia</h5>
                                <div id="on_track" class="h5">0</div>
                            </div>
                        </div>
                    </div>
                    <h4 class="mt-4 text-center"">Line Following</h3>
                    <div class=" row justify-content-center align-items-center">
                        <div class="status-field mx-2 my-2 text-center">
                            <h5>IR Sinistra</h5>
                            <div id="ir_left" class="h5">0</div>
                        </div>
                        <div class="status-field mx-2 my-2 text-center">
                            <h5>IR Centro</h5>
                            <div id="ir_center" class="h5">0</div>
                        </div>
                        <div class="status-field mx-2 my-2 text-center">
                            <h5>IR Destra</h5>
                            <div id="ir_right" class="h5">0</div>
                        </div>
            </div>
            <h3 class="mt-4 text-center">Comandi</h3>
            <div class=" column" id="status-fields" style="background-color: lightcyan;">
                <!-- Comandi Rover-->
                <div id="rover-commands" class="row justify-content-center align-items-center"
                    style="background-color: lightcyan;">
                    <button id="rover-start" class="btn btn-primary mx-2 my-2">Start</button>
                    <button id="rover-stop" class="btn btn-danger mx-2 my-2">Stop</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <h3 class="mt-4 text-center">Oggetti Rilevati</h3>
            <table id="prediction-table">
                <!-- Le righe delle previsioni saranno generate dinamicamente qui -->
            </table>
        </div>

        <div class="col-lg-4 text-center">
            <h3 class="mt-4">Access Point Info</h3>
            <div class=" column" id="connection-fields" style="background-color: lightcyan; padding: auto;">
                <div class="row justify-content-center align-items-center">
                    <div class="connection-field mx-2 my-2 text-center">
                        <h5>SSID</h5>
                        <div id="ssid" class="h5">WiFi SSID</div>
                    </div>
                    <div class="connection-field mx-2 my-2 text-center">
                        <h5>Indirizzo IP:</h5>
                        <div id="ip" class="h5">0.0.0.0</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 text-center">
            <h3 class="mt-4 text-center">Raspberry Debug</h3>
            <div class=" column" id="rpi-fields" style="background-color: lightcyan; padding: auto;">
                <div class="row justify-content-center align-items-center">
                    <div class="rpi-field mx-2 my-2 text-center">
                        <h5>CPU Usage</h5>
                        <div id="cpu" class="h5">0%</div>
                    </div>
                    <div class="rpi-field mx-2 my-2 text-center">
                        <h5>CPU Temp.</h5>
                        <div id="temp" class="h5">0°</div>
                    </div>
                    <div class="rpi-field mx-2 my-2 text-center">
                        <h5>Ram Usage</h5>
                        <div id="ram" class="h5">0%</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer class="bg-light text-center text-lg-start fixed-bottom">
        <!-- Copyright -->
        <div class="text-center p-3">
            © 2023 Copyright:
            <a class="text-dark" href="https://mariocarbone.net/">Mario Carbone</a>
        </div>
        <!-- Copyright -->
    </footer>


    <script type="text/javascript">
        var frameElement = document.getElementById('frame');
        var distanceElement = document.getElementById('distance-value');

        var predictionElement = document.getElementById('prediction-json');
        var predictionTable = document.getElementById('prediction-table');

        var statusElement = document.getElementById('status-json');
        var speedDiv = document.getElementById('speed');
        var steerDiv = document.getElementById('steer_side');
        var irLDiv = document.getElementById('ir_left');
        var irCDiv = document.getElementById('ir_center');
        var irRDiv = document.getElementById('ir_right');
        var cpu = document.getElementById('cpu');
        var temp = document.getElementById('temp');
        var ram = document.getElementById('ram');
        var ssid = document.getElementById('ssid');
        var ip = document.getElementById('ip');
        var signal = document.getElementById('signal');
        var moving = document.getElementById('moving');
        var braking = document.getElementById('braking');
        var stopped = document.getElementById('stopped');
        var onTrack = document.getElementById('on_track');


        function updatePrediction(prediction) {
            predictionTable.innerHTML = '';
            for (var key in prediction) {
                if (prediction.hasOwnProperty(key)) {
                    var predictionObj = prediction[key];
                    var newRow = predictionTable.insertRow();
                    var categoryCell = newRow.insertCell(0);
                    var valueCell = newRow.insertCell(1);

                    categoryCell.innerHTML = `<b>${predictionObj.category}:</b>`;
                    valueCell.textContent = predictionObj.value;
                }
            }
        }

        function updateStatus(status) {
            //var statusObj = JSON.parse(status);

            speedDiv.textContent = status.speed + " m/s";
            steerDiv.textContent = status.steer_side + "";
            irLDiv.textContent = status.ir_left + " ";
            irCDiv.textContent = status.ir_center + " ";
            irRDiv.textContent = status.ir_right + " ";
            moving.textContent = status.moving;
            braking.textContent = status.braking;
            onTrack.textContent = status.on_track;
            stopped.textContent = status.stopped;
            distanceElement.textContent = status.distance + " cm";
        }

        function updatePiInfo(status) {
            cpu.textContent = status.cpu + " %";
            temp.textContent = status.temp + " °";
            ram.textContent = status.ram + " %";
            ssid.textContent = status.ssid;
            ip.textContent = status.ip;
        }

        // Aggiorna il frame immagine ogni secondo
        //setInterval(function () {
        //    var currentTime = new Date().getTime();
        //    frameElement.src = '/frame?' + currentTime;
        //}, 1000);

        // Aggiorna le prediction ogni secondo
        setInterval(function () {
            fetch('/get_predictions')
                .then(response => response.json())
                .then(data => updatePrediction(data))
                .catch(error => console.log('Errore durante la richiesta della distanza:', error));
        }, 1000);

        // Aggiorna lo stato del veicolo ogni secondo
        /*setInterval(function () {
            fetch('/get_status')
                .then(response => response.json())
                .then(data => updateStatus(data))
                .catch(error => console.log('Errore durante la richiesta della distanza:', error));
        }, 1000);
        */

        // Aggiorna le informazioni sulla connessione ogni cinque secondi
        setInterval(function () {
            fetch('/pi/get_info')
                .then(response => response.json())
                .then(data => updatePiInfo(data))
                .catch(error => console.log('Errore durante la richiesta delle informazioni di connessione:', error));
        }, 5000);

        //Azioni bottoni
        var buttonRoverStart = document.getElementById('rover-start');
        var buttonRoverStop = document.getElementById('rover-stop');
        var buttonStop = document.getElementById('stop');

        buttonRoverStart.addEventListener('click', function () {
            fetch('/rover/start', {
                method: 'POST'
            })
                .then(function (response) {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw new Error('Errore nella richiesta');
                    }
                })
                //.then(function (data) {
                //    alert(data); // Mostra un messaggio di conferma
                //})
                .catch(function (error) {
                    console.error('Errore:', error);
                });
        });

        buttonRoverStop.addEventListener('click', function () {
            fetch('/rover/stop', {
                method: 'POST'
            })
                .then(function (response) {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw new Error('Errore nella richiesta');
                    }
                })
                //.then(function (data) {
                //    alert(data); // Mostra un messaggio di conferma
                //})
                .catch(function (error) {
                    console.error('Errore:', error);
                });
        });

        buttonStop.addEventListener('click', function () {
            fetch('/stop_threads', {
                method: 'POST'
            })
                .then(function (response) {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw new Error('Errore nella richiesta');
                    }
                })
                //.then(function (data) {
                //    alert(data); // Mostra un messaggio di conferma
                //})
                .catch(function (error) {
                    console.error('Errore:', error);
                });
        });

    </script>
</body>

</html>