<!DOCTYPE html>
<html>

<head>
    <title>Webcam Stream</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">


</head>

<body class="d-flex flex-column">

    <header class="bg-dark text-white py-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-auto">
                    <img src="{{ url_for('static', filename='rsu_icon.png') }}" style="max-width: 70px;"
                        class="header-icon" alt="RSU Manager">
                </div>
                <div class="col">
                    <h1>RSU Manager</h1>
                </div>
                <div class="col-auto">
                    <button id="stop" class="btn btn-light">Esci</button>
                </div>
            </div>
        </div>
    </header>

    <!-- Contenuto principale della pagina -->
    <div class="container flex-grow-1" style="margin-top: 30px;">

        <div class="row">
            <div class="col-lg-6">
                <h3 class="mt-4 text-center">Webcam Stream</h3>
                <img id="video" class="img-fluid" src="{{ url_for('video_feed') }}">
            </div>

            <div class="col-lg-6">
                <!-- Alert RSU-->
                <div class="col-lg-12">
                    <h4 class="mt-4 text-center">Alert inviati</h4>
                    <div class="row">
                        <div class="col-12 text-center" id="alert_sended_list"
                            style=" background-color: lightcyan; max-height: 130px; overflow-y: auto;">
                            <!-- Contenuto della lista degli alert inviati -->
                        </div>
                    </div>
                </div>
        
                <div class="col-lg-12">
                    <h4 class="mt-4 text-center">Alert ricevuti</h4>
                    <div class="row">
                        <div class="col-12 text-center" id="alert_received_list"
                            style=" background-color: lightcyan; max-height: 130px; overflow-y: auto;">
                            <!-- Contenuto della lista degli alert inviati -->
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    
        <div class="row">
        <div class="col-lg-4">
            <h3 class="mt-4 text-center">Oggetti Rilevati</h3>
            <div class="row justify-content-center align-items-center">
                <div class="count-field mx-2 my-2 text-center">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <div id="person_count" class="h5">0</div>
                </div>
                <div class="rpi-field mx-2 my-2 text-center">
                    <i class="fa fa-car" aria-hidden="true"></i>
                    <div id="car_count" class="h5">0</div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 text-center">
            <h3 class="mt-4">Access Point Info</h3>
            <div class=" column" id="connection-fields" style="background-color: lightcyan; padding: auto;">
                <div class="row justify-content-center align-items-center">
                    <div class="connection-field mx-2 my-2 text-center">
                        <h5>SSID</h5>
                        <div id="ssid" class="h5">WiFi SSID</div>
                    </div>
                    <div class="connection-field mx-2 my-2 text-center">
                        <h5>Indirizzo IP:</h5>
                        <div id="ip" class="h5">0.0.0.0</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 text-center">
            <h3 class="mt-4 text-center">Raspberry Debug</h3>
            <div class=" column" id="rpi-fields" style="background-color: lightcyan; padding: auto;">
                <div class="row justify-content-center align-items-center">
                    <div class="rpi-field mx-2 my-2 text-center">
                        <h5>CPU Usage</h5>
                        <div id="cpu" class="h5">0%</div>
                    </div>
                    <div class="rpi-field mx-2 my-2 text-center">
                        <h5>CPU Temp.</h5>
                        <div id="temp" class="h5">0°</div>
                    </div>
                    <div class="rpi-field mx-2 my-2 text-center">
                        <h5>Ram Usage</h5>
                        <div id="ram" class="h5">0%</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div> <!-- Container End -->



    <footer class="bg-light text-center text-lg-start fixed-bottom">
        <!-- Copyright -->
        <div class="text-center p-3">
            © 2023 Copyright:
            <a class="text-dark" href="https://mariocarbone.net/">Mario Carbone</a>
        </div>
        <!-- Copyright -->
    </footer>


    <script type="text/javascript">
        var frameElement = document.getElementById('frame');
        var distanceElement = document.getElementById('distance-value');

        var predictionElement = document.getElementById('prediction-json');
        var predictionTable = document.getElementById('prediction-table');

        var statusElement = document.getElementById('status-json');
        var speedDiv = document.getElementById('speed');
        var steerDiv = document.getElementById('steer_side');
        var irLDiv = document.getElementById('ir_left');
        var irCDiv = document.getElementById('ir_center');
        var irRDiv = document.getElementById('ir_right');
        var cpu = document.getElementById('cpu');
        var temp = document.getElementById('temp');
        var ram = document.getElementById('ram');
        var ssid = document.getElementById('ssid');
        var ip = document.getElementById('ip');
        var signal = document.getElementById('signal');
        var moving = document.getElementById('moving');
        var braking = document.getElementById('braking');
        var stopped = document.getElementById('stopped');
        var onTrack = document.getElementById('on_track');
        var personCount = document.getElementById('person_count');
        var carCount = document.getElementById('car_count');


        function updatePrediction(prediction) {
            tmp_personCount = 0;
            tmp_carCount = 0;

            for (var key in prediction) {
                if (prediction.hasOwnProperty(key) && key !== "timestamp") {
                    var predictionObj = prediction[key];

                    // Controlla la categoria e aggiorna i conteggi
                    if (predictionObj.category === "person") {
                        tmp_personCount++;
                    } else if (predictionObj.category === "car") {
                        tmp_carCount++;
                    }
                }
            }
            personCount.textContent = tmp_personCount;
            carCount.textContent = tmp_carCount;

        }
    

        function updateStatus(status) {
            speedDiv.textContent = status.speed + " m/s";
            steerDiv.textContent = status.steer_side + "";
            irLDiv.textContent = status.ir_left + " ";
            irCDiv.textContent = status.ir_center + " ";
            irRDiv.textContent = status.ir_right + " ";
            moving.textContent = status.moving;
            braking.textContent = status.braking;
            onTrack.textContent = status.on_track;
            stopped.textContent = status.stopped;
            distanceElement.textContent = status.distance + " cm";
        }

        function updatePiInfo(status) {
            cpu.textContent = status.cpu + " %";
            temp.textContent = status.temp + " °";
            ram.textContent = status.ram + " %";
            ssid.textContent = status.ssid;
            ip.textContent = status.ip;
        }

        // Aggiorna le prediction ogni secondo
        setInterval(function () {
            fetch('/get_predictions')
                .then(response => response.json())
                .then(data => updatePrediction(data))
                .catch(error => console.log('Errore durante la richiesta della distanza:', error));
        }, 500);

        // Aggiorna le informazioni sulla connessione ogni cinque secondi
        setInterval(function () {
            fetch('/pi/get_info')
                .then(response => response.json())
                .then(data => updatePiInfo(data))
                .catch(error => console.log('Errore durante la richiesta delle informazioni di connessione:', error));
        }, 5000);

        //Azioni bottoni
        var buttonRoverStart = document.getElementById('rover-start');
        var buttonRoverStop = document.getElementById('rover-stop');
        var buttonStop = document.getElementById('stop');

        buttonRoverStart.addEventListener('click', function () {
            fetch('/rover/start', {
                method: 'POST'
            })
                .then(function (response) {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw new Error('Errore nella richiesta');
                    }
                })
                //.then(function (data) {
                //    alert(data); // Mostra un messaggio di conferma
                //})
                .catch(function (error) {
                    console.error('Errore:', error);
                });
        });

        buttonRoverStop.addEventListener('click', function () {
            fetch('/rover/stop', {
                method: 'POST'
            })
                .then(function (response) {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw new Error('Errore nella richiesta');
                    }
                })
                //.then(function (data) {
                //    alert(data); // Mostra un messaggio di conferma
                //})
                .catch(function (error) {
                    console.error('Errore:', error);
                });
        });

        buttonStop.addEventListener('click', function () {
            fetch('/stop_threads', {
                method: 'POST'
            })
                .then(function (response) {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw new Error('Errore nella richiesta');
                    }
                })
                //.then(function (data) {
                //    alert(data); // Mostra un messaggio di conferma
                //})
                .catch(function (error) {
                    console.error('Errore:', error);
                });
        });

    </script>
</body>

</html>