<!DOCTYPE html>
<html>

<head>
    <title>Webcam Stream</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container" style="background-color: #f0f0f0;">
        <h1 class="mt-4">Rover Manager</h1>

        <div class="row">
            <div class="col-lg-7" style="background-color: #dcdcdc;">
                <h3 class="mt-4">Webcam Stream</h1>
                    <img id="video" style="max-width: 640px;" src="{{ url_for('video_feed') }}">
            </div>

            <div class="col-lg-5" style="background-color: #dcdcdc;">
                <h3 class="mt-4">Stato del rover</h3>
                <div id="status-fields">
                    <div class="row">
                        <div class="status-field mx-2 my-2 text-center">
                            <h5>Velocità</h5>
                            <div id="speed">0</div>
                        </div>
                        <div class="status-field mx-2 my-2 text-center">
                            <h5>Angolo di sterzo</h5>
                            <div id="steer_angle">0</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="status-field mx-2 my-2 text-center">
                            <h5>IR Sinistra</h5>
                            <div id="ir_left">0</div>
                        </div>
                        <div class="status-field mx-2 my-2 text-center">
                            <h5>IR Centro</h5>
                            <div id="ir_center">0</div>
                        </div>
                        <div class="status-field mx-2 my-2 text-center">
                            <h5>IR Destra</h5>
                            <div id="ir_right">0</div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div>
            <div class="row mt-4">
                <div class="col-lg-12">
                    <h2>Prediction:</h2>
                    <table id="prediction-table">
                        <!-- Le righe delle previsioni saranno generate dinamicamente qui -->
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>




    <script type="text/javascript">
        var frameElement = document.getElementById('frame');
        var distanceElement = document.getElementById('distance-value');
        var predictionElement = document.getElementById('prediction-json');
        var statusElement = document.getElementById('status-json');
        var speedDiv = document.getElementById('speed');
        var steerDiv = document.getElementById('steer_angle');
        var irLDiv = document.getElementById('ir_left');
        var irCDiv = document.getElementById('ir_center');
        var irRDiv = document.getElementById('ir_right');


        // Funzione per aggiornare la distanza nel documento HTML
        function updateDistance(distance) {
            distanceElement.textContent = distance;
        }

        function updatePrediction(prediction) {
            // Otteni il riferimento alla tabella
            var predictionTable = document.getElementById('prediction-table');

            // Pulizia del contenuto attuale della tabella
            predictionTable.innerHTML = '';

            // Itera attraverso gli oggetti numerati nel JSON e aggiungi righe alla tabella
            for (var key in prediction) {
                if (prediction.hasOwnProperty(key)) {
                    var predictionObj = prediction[key];
                    var newRow = predictionTable.insertRow();
                    var categoryCell = newRow.insertCell(0);
                    var valueCell = newRow.insertCell(1);

                    categoryCell.innerHTML = `<b>${predictionObj.category}:</b>`;
                    valueCell.textContent = predictionObj.value;
                }
            }
        }

        function updateStatus(status) {
            var statusObj = JSON.parse(status);
            speedDiv.textContent = statusObj.speed;
            steerDiv.textContent = statusObj.steer_angle;
            irLDiv.textContent = statusObj.ir_left;
            irCDiv.textContent = statusObj.ir_center;
            irRDiv.textContent = statusObj.ir_right;
        }

        // Aggiorna il frame immagine ogni secondo
        setInterval(function () {
            var currentTime = new Date().getTime();
            frameElement.src = '/frame?' + currentTime;
        }, 1000);

        /* Aggiorna la distanza ogni 500 millisecondi
        setInterval(getDistance, 500);*/

        // Aggiorna la distanza ogni 500 millisecondi utilizzando Fetch API
        setInterval(function () {
            fetch('/get_distance')
                .then(response => response.text())
                .then(data => updateDistance(data))
                .catch(error => console.log('Errore durante la richiesta della distanza:', error));
        }, 1000);

        setInterval(function () {
            fetch('/get_predictions')
                .then(response => response.json())
                .then(data => updatePrediction(data))
                .catch(error => console.log('Errore durante la richiesta della distanza:', error));
        }, 1000);

        setInterval(function () {
            fetch('/get_status')
                .then(response => response.json())
                .then(data => updateStatus(data))
                .catch(error => console.log('Errore durante la richiesta della distanza:', error));
        }, 1000);
    </script>

    </script>

</body>

</html>