<!DOCTYPE html>
<html>

<head>
    <title>Webcam Stream</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="mt-4">Rover Manager</h1>

        <div class="row">

            <div class="col-lg-8">
                <h3 class="mt-4">Webcam Stream</h1>
                <img id="video" style="max-width: 640px;"src="{{ url_for('video_feed') }}">
            </div>

            <div class="col-lg-4">
                <h3>Distanza anteriore: <span id="distance-value">0.0</span> cm</h2>
                <h3>Status:</h2>
                <div id="status-json" class="alert alert-info">
                    <!-- Status data will be displayed here -->
                </div>
            </div>
        </div>
        
        <div class="row mt-4">
            <div class="col-lg-12">
                <h2>Prediction: <span id="prediction-json">" "</span></h2>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var frameElement = document.getElementById('frame');
        var distanceElement = document.getElementById('distance-value');
        var predictionElement = document.getElementById('prediction-json');
        var statusElement = document.getElementById('status-json');

        // Funzione per aggiornare la distanza nel documento HTML
        function updateDistance(distance) {
            distanceElement.textContent = distance;
        }

        function updatePrediction(prediction) {
            // Pulizia del contenuto attuale
            predictionElement.innerHTML = '';

            // Itera attraverso gli oggetti numerati nel JSON
            for (var key in prediction) {
                if (prediction.hasOwnProperty(key)) {
                    var predictionObj = prediction[key];
                    var predictionHTML = `<p>Category: ${predictionObj.category}</p>`;
                    predictionHTML += `<p>Coordinates: h=${predictionObj.coordinates.h}, w=${predictionObj.coordinates.w}, x=${predictionObj.coordinates.x}, y=${predictionObj.coordinates.y}</p>`;
                    predictionHTML += `<p>Score: ${predictionObj.score}</p>`;
                    predictionElement.innerHTML += predictionHTML;
                }
            }

            // Gestione del campo "timestamp" fuori dagli oggetti numerati
            var timestampHTML = `<p>Timestamp: ${prediction.timestamp}</p>`;
            timestampElement.innerHTML = timestampHTML;
        }

        function updateStatus(status) {
            // Pulizia del contenuto attuale
            statusElement.innerHTML = '';

            // Converte la stringa JSON in un oggetto JSON
            var statusObj = JSON.parse(status);

            // Itera attraverso le chiavi nell'oggetto JSON di stato
            for (var key in statusObj) {
                if (statusObj.hasOwnProperty(key)) {
                    var value = statusObj[key];
                    var statusHTML = `<p>${key}: ${value}</p>`;
                    statusElement.innerHTML += statusHTML;
                }
            }
        }
        
        /* Aggiorna la distanza ogni 500 millisecondi utilizzando AJAX
        function getDistance() {
            $.ajax({
                url: '/get_distance',
                success: function(data) {
                    updateDistance(data);
                }
            });
        }*/

        // Aggiorna il frame immagine ogni secondo
        setInterval(function () {
            var currentTime = new Date().getTime();
            frameElement.src = '/frame?' + currentTime;
        }, 1000);

        /* Aggiorna la distanza ogni 500 millisecondi
        setInterval(getDistance, 500);*/

        // Aggiorna la distanza ogni 500 millisecondi utilizzando Fetch API
        setInterval(function () {
            fetch('/get_distance')
                .then(response => response.text())
                .then(data => updateDistance(data))
                .catch(error => console.log('Errore durante la richiesta della distanza:', error));
        }, 1000);

        setInterval(function () {
            fetch('/get_predictions')
                .then(response => response.json())
                .then(data => updatePrediction(data))
                .catch(error => console.log('Errore durante la richiesta della distanza:', error));
        }, 1000);

        setInterval(function () {
            fetch('/get_status')
                .then(response => response.json())
                .then(data => updateStatus(data))
                .catch(error => console.log('Errore durante la richiesta della distanza:', error));
        }, 1000);
    </script>

    </script>

</body>

</html>