<!DOCTYPE html>
<html>
<head>
    <title>Webcam Stream</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
</head>
<body>
    <h1>Webcam Stream</h1>
    
    
    <div>
        <h2>Distanza: <span id="distance-value">0.0</span> cm</h2>
    </div>
    
    <div>
        <img id="video" src="{{ url_for('video_feed') }}">
    </div>
   
    <script type="text/javascript">
        var frameElement = document.getElementById('frame');
        var distanceElement = document.getElementById('distance-value');

        // Funzione per aggiornare la distanza nel documento HTML
        function updateDistance(distance) {
            distanceElement.textContent = distance;
        }
        
    
        /* Aggiorna la distanza ogni 500 millisecondi utilizzando AJAX
        function getDistance() {
            $.ajax({
                url: '/get_distance',
                success: function(data) {
                    updateDistance(data);
                }
            });
        }*/
        
        // Aggiorna il frame immagine ogni secondo
        setInterval(function() {
            var currentTime = new Date().getTime();
            frameElement.src = '/frame?' + currentTime;
        }, 1000);

        /* Aggiorna la distanza ogni 500 millisecondi
        setInterval(getDistance, 500);*/
        
        // Aggiorna la distanza ogni 500 millisecondi utilizzando Fetch API
        setInterval(function() {
            fetch('/get_distance')
                .then(response => response.text())
                .then(data => updateDistance(data))
                .catch(error => console.log('Errore durante la richiesta della distanza:', error));
        }, 1000);
    </script>
        
    </script>
    
</body>
</html>
